In [1]:
import mysql.connector as connection
import csv

In [2]:
#Data Cleaning and Formatting

with open('carbon_nanotubes.csv','r') as f:
    p=f.read()
    p=p.replace(',','.')
    p=p.replace(';',',')
    p=p.replace("'",'')
    f=open('intermittent','w')
    f.write(p)
    f.close()

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('intermittent.csv')

In [5]:
df.head()

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u,Calculated atomic coordinates v,Calculated atomic coordinates w
0,2,1,0.679005,0.701318,0.017033,0.721039,0.730232,0.017014
1,2,1,0.717298,0.642129,0.231319,0.738414,0.656750,0.232369
2,2,1,0.489336,0.303751,0.088462,0.477676,0.263221,0.088712
3,2,1,0.413957,0.632996,0.040843,0.408823,0.657897,0.039796
4,2,1,0.334292,0.543401,0.159890,0.303349,0.558807,0.157373

In [6]:
# Making connection to the sql to input the data
conn = connection.connect(host='localhost',user='root',passwd='1234',use_pure=True)

In [7]:
cursor= conn.cursor()

In [8]:
query='''
        show databases

'''

In [9]:
cursor.execute(query)
print(cursor.fetchall())

[('imdb',), ('information_schema',), ('mysql',), ('performance_schema',), ('property_sale',), ('sakila',), ('sql_practice',), ('student1',), ('students',), ('sys',), ('world',)]

In [58]:
query='''
         Create database sql_practice
         
         '''

In [59]:
cursor.execute(query)

In [60]:
query='''Use sql_practice'''

In [61]:
cursor.execute(query)

In [80]:
query='''

        create table carbon_nanotube(
        
        Id int auto_increment Primary Key,
        Chiral_indice_n int,
        Chiral_indice_m int,
        Initial_atomic_coordinate_u float,
        Initial_atomic_coordinate_v float,
        Initial_atomic_coordinate_w float,
        Calculated_atomic_coordinate_u float,
        Calculated_atomic_coordinate_v float,
        Calculated_atomic_coordinate_w float,
        Created_at date default (now())
        
        )



'''

In [81]:
cursor.execute(query)

In [ ]:
"""with open('intermittent.csv','r') as f:
    f.readline()
    df=csv.reader(f,delimiter='\n')
    for i in df:
"""

In [20]:
with open('intermittent.csv') as f:
    f.readline()
    line=f.readline()
    line.rstrip()
    query=f'''
            insert into sql_practice values({line}).
    
    '''
    """while line:
        print(type(line))
        print(line)
        print(line[1])
        line=f.readline()"""

In [21]:
query

'\n            insert into sql_practice values(2,1,0.679005,0.701318,0.017033,0.721039,0.730232,0.017014\n).\n    \n    '

In [19]:
cursor.execute(query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.' at line 2